* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.box {
    width: 100%;
    height: 667px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 8px;
    padding: 20px 20px;
}
.contentForm {
    margin: 8%;
}
h2 {
    color: #083e63;
    font-weight: 700;
}
p {
    color: #083e63;
    padding-bottom: 50px;
}
img {
    padding-right: 100px;
}
